cryptography==42.0.8
paramiko
python-dotenv
opencv-python
Pillow==10.4.0
numpy
PyQt6==6.7.0
pyexr
pyinstaller==6.8.0 # pyinstaller should always remain in requirements.txt, otherwise the application will not build.