[user]
	name = cjhosken
	email = hoskenchristopher@gmail.com
[safe]
	directory = W:/Projects/1st/OTHER/VengefulVegitables
	directory = W:/Projects/1st/TECHNICAL_ARTS_PRODUCTION/TAP_PythonProgramming_ASSIGNMENT/src/MayaFluidSimulator
	directory = W:/Projects/1st/TECHNICAL_ARTS_PRODUCTION/TAP_PythonProgramming_ASSIGNMENT
	directory = W:/Projects/1st/OTHER/BU_Environment_CodeJam_2024/Ferocious-Fruits
